fastapi
uvicorn
pydantic
pandas
numpy
scikit-learn==1.7.2
joblib
openpyxl
xlrd
requests
langchain
langchain-community
langchain-core
langchain-text-splitters
langchain-huggingface
langchain-groq
faiss-cpu
sentence-transformers
huggingface-hub
python-dotenv
imbalanced-learn
